<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <form action="" method="POST">
            <input type="text" placeholder="Name or mail"/>
            <input type="password" placeholder="Password"/>
            <input type="submit" value="Connect"/>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>